# exclude all
*

# include important folders
# need gradle 
!/gradle
!/gradlew
!/gradlew.bat
!/build.gradle

# include readme
!/README.md

# include license
!/License.md

# include sourcecode
!/src

# include git important files
!/.gitmodules
!/.gitignore